body
{
    background-color: darkslategray;
}

.container
{
    background-color: white;
}

.page-header
{
    border: none;
    border-bottom: 2px solid black;
}

#info
{
    border: medium inset black;
}
