body
{
    background-color: #D5D5D5;
}

.container
{
    margin: 0;
    padding: 0;
}

h1
{
    color: #565656;
    padding-bottom: 1cm;
    border-bottom: 1px solid #565656;
}

h2
{
    background-color: #76323f;
}

#MazeInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #1d2731;
    transition: 1s;
}

#MazeInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#DBInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#DBInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#DotaInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#DotaInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#HashingInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#Hashinginfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#SortingInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#SortingInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#SudokuInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#SudokuInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#CheckersInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#CheckersInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#CameraInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#Camerainfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#RubyInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#RubyInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}

#WebInfo
{
    background-color: #76323f;
    color: #d8bea5;
    margin: 1vw;
    border: 1px solid #565656;
    transition: 1s;
}

#WebInfo:hover
{
    box-shadow: 10px 10px #565656;
    margin-left: 1vw;
    padding-left: .5vw;
}