h1
{
    font-size: larger;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center
}
h2
{
    font-size: large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
p
{
    font-size: medium;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
table
{
    border-collapse: separate;
    border-spacing: 40px;
}