h1
{
    font-size: 48pt;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-shadow: 10px, 10px, 3px,black;
}
h2
{
    font-size: 36pt;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-shadow: 10px, 10px, 3px,black;
}
p
{
    font-size: 24pt;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
table
{
    border-collapse: separate;
    border-spacing: 40px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
button
{
    box-shadow: 10px, 10px, 3px,black;
    border: none;
    width: 120px;
    height: 60px;
}
#Welcome1
{
    display: block;
}
#Welcome2
{
    display: block;
}
#Sapiens1
{
    display: none;
}
#Sapiens2
{
    display: none;
}
#AriHun1
{
    display: none;
}
#AriHun2
{
    display: none;
}
#Wild1
{
    display: none;
}
#Wild2
{
    display: none;
}
#Breath1
{
    display: none;
}
#Breath2
{
    display: none;
}